h1{
	text-align: center;
	font-family: helvetica;
}
.wrapper{
	display: flex; 
	width: 900px;
	background-color:green;
	margin: 0 Auto;
}
.box{
	width: 30%;
	/*display: inline-block;*/
	/*shift backslash this will allow for the width to be a third*/
	background-color: white;
	/*margin: 1.5%;*/
	justify-content: space-between;
}
body {
	background-color: white; 
}

.navigation{

	font-family: helvetica;
	background-color: none;


}

.paragraph{
	color: none;
	margin: 10px;
}



